<!DOCTYPE html>
<html>
<head>
    <title>Calendar</title>
    <!-- Bootstrap CSS library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- Bootstrap icons library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <!-- Replace the path with the corrected path to style.css -->
    <link rel="stylesheet" href="resources/css/style.css" />
</head>
<body onload="initializeCalendar()">
    <!-- Calendar elements -->
    <div class="container">
        <!-- All elements of the webpage will be added within this div -->
        <div id="calendar" class="row"></div>
    </div>
    <!-- Modal elements -->
    <div class="modal" tabindex="-1" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Event</div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="event_name" class="form-label">Event Name</label>
                            <input type="text" class="form-control" id="event_name">
                        </div>
                        <!-- Rest of the form fields -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Replace the path with the corrected path to script.js -->
    <script src="/resources/js/script.js"></script>
</body>
</html>
