
  <body>
    <div class="weather">
      <span class="city"></span>
      <span class="temp"></span>
      <span class="description"></span>
      <img class="icon"/>
    </div>
 
    <script src="index.js"></script>
  </body>
