
  <head>
    <title>Traffic Layer</title>

     <script src="../../resources/js/trafficScript.js"></script>
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
      
          <link rel="stylesheet" href="../../resources/css/trafficStyle.css">
        
    <!-- jsFiddle will insert css and js -->
  </head>
  <body>
    <div id="map"></div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    {{!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx1pB8x8KtPeu0cXYzzbHytGrXTDBhvJw=initMap&v=weekly"
      defer
    ></script> --}}
  </body>
  <script>
          function initMap() {
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: { lat: 40.00871694003811, lng: -105.26862404425269 },
              });
              const trafficLayer = new google.maps.TrafficLayer();
            
              trafficLayer.setMap(map);
          }
          </script>
          <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx1pB8x8KtPeu0cXYzzbHytGrXTDBhvJw&loading=async&callback=initMap"></script>
 
