  <div class="container" id="weathercontainer">

      <div class="search-box">
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" placeholder="Enter Your Location" />
        <button class="fa-solid fa-magnifying-glass"></button>
      </div>

      <div class="not-found">
        <img src="../../resources/images/404.png" alt="..." />
        <p>Oops! Invalid Location :/</p>
      </div>

      <div class="weather-box">
        <img src="" alt="..." />
        <p class="temperature"></p>
        <p class="description"></p>
      </div>

      <div class="weather-details">
        <div class="humidity">
          <i class="fa-solid fa-water"></i>
          <div class="text">
            <span></span>
            <p>Humidity</p>
          </div>
        </div>
        <div class="wind">
          <i class="fa-solid fa-wind"></i>
          <div class="text">
            <span></span>
            <p>Wind Speed</p>
          </div>
        </div>
      </div>

    </div>
