.boxyboy {
    background-color: black;
    color: white;
    width: 185px;
    height: 300px;
    display: inline-block; 
    margin-right: 10px; 
  }
  
  #health {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 300px;
      width: 800px;
      display: flex; /* Updated */
      flex-direction: row; /* Added */
  }
  
  #results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  #sleepCard {
      text-align: center
     
      
  }



  #homeHubLogo {
    font-size: 60px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: purple;
    position: absolute;
    top: 100px;
    left: 900px;
    display: flex; /* Added */
    
  }

  #homeHubLogo span {
    display: block; /* Added */
  }

  

