/* style.css */

.shopping-cart {
    position: relative;
    top: -470px;
    left:575px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  .shopping-cart-item {
    margin-bottom: 10px;
  }

  .add-item-btn {
    margin-top: 10px;
  }

.shopping-list.horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the list items horizontally */
}

.shopping-list.horizontal li {
    margin-right: 10px; /* Adjust spacing between items */
    padding: 5px 10px;
    background-color: #f0f0f0; /* Background color of each item */
    border-radius: 5px;
}
