<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Local weather</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="weather">
      <span class="city"></span>
      <span class="temp"></span>
      <span class="description"></span>
      <img class="icon"/>
    </div>
 
    <script src="index.js"></script>
  </body>
</html>