<!-- profile.hbs -->
<link href="/resources/css/profile.css" rel="stylesheet" />
<main class="profile_page">

    <div id="profile" class="container">
        {{!-- <h2>User Profile</h2> --}}
        <div class="row">
            <div class="col-md-12">
                <h3>Welcome {{user.username}}</h3>
                {{#each quote}}
                <h4>{{this}}</h4>
                {{/each}}
                <a href="/user/password">Change Password</a>
                {{#if cpstatus}}
                <h4 class="text-center text-bg-success text-white ">{{message}}</h4>
                {{/if}}

            </div>

        </div>
    </div>
    <script src="/resources/js/profile.js"></script>
</main>